/* FONTS */

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Bold.otf');
}

@font-face {
  font-family: 'Humanist';
  src: url('../fonts/Humanist-777Bt-Light.otf');
}


.hero-unit {
  padding: 0;
  margin-top: 90px;
}

/* NAVBAR */

.navbar--custombg {
  background: url('../imgs/header.png') repeat-x;
}

.navbar--custombg--options {
  background: url('../imgs/header.png') 0 -90px;
}

.navbar--custom {
  padding-left: 0;
  min-height: 90px;
  height: 90px;
  border: none;
  border-bottom: 2px solid hsla(0, 0%, 100%, 0.4);
  box-shadow: none;
  color: #fff;
  font-family: 'Gotham';
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 10px;
  }
}

.navbar--custom .navbar-brand {
  padding: 0;
  line-height: 90px;
  color: #fff;
  margin-left: 10px;
}

.navbar--custom .navbar-brand--logo {
  padding: 13.5px 0;
}

.navbar--custom .navbar-brand--title {
  padding: 28px 0;
}

.navbar--custom .navbar-brand--fc {
  font-family: 'Humanist';
  color: #aad433;
}

.navbar-brand {
  font-family: 'Gotham';
  font-size: 20pt;
  line-height: 90px;
}

.navbar--social {
  text-align: right;
}

.navbar--social a {
  color: #fff;
  font-size: 15px;
  margin-left: 5px;
}

.navbar--item--border {
  line-height: 30px;
  padding: 0 !important;
}

.border--r, .border--rl {
  border-right: 2px dotted #1a7b4d;
}

.border--l, .border--rl {
  border-left: 2px dotted #0e261b;
}

.navbar--options {
  font-size: 12px;
  white-space: nowrap;
  color: #fff;
  font-weight: bold;
  border-bottom: 2px solid hsla(0, 0%, 100%, 0.4);
  height: 50px;
}

.nav-justified>li>a {
  color: #fff;
}

.nav-justified>li>a:hover,
.nav-justified>li>a:focus {
  background-color: transparent;
  color: rgb(235, 255, 0);
}


.input--header {
  height: 23px;
  max-width: 125px;
  font-size: 12px;
  border-radius: 0;
}

.btn--header {
  background: rgb(236, 220, 13);
  height: 23px;
  line-height: 23px;
  font-weight: bold;
  border-radius: 0;
  padding: 0 2px;
  color: #000;
}

.carousel--gradient {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.0025) 0, rgba(0,0,0,0.75) 100%);
  background-repeat: repeat-x;
  z-index: 9;
}



@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px;
  }
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    margin-left: -10px;
  }
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next {
    margin-right: -10px;
  }
  .carousel-caption {
    display: block;
    font-family: 'Gotham';
    font-size: 30px;
    left: 10%;
    right: 0;
    padding-bottom: 30px;
    text-align: left;
    z-index: 10;
  }
  .carousel-indicators {
    bottom: 20px;
  }
}
